/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
    color: #007bff;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2em;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

section {
    margin-bottom: 20px;
}

.matrix-section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
    color: #333333;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.global-buttons {
    text-align: center;
    margin-top: 40px;
}

.global-buttons button {
    width: auto;
    display: inline-block;
    margin: 5px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #888;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.25em;
    }

    table th, table td {
        padding: 8px;
    }

        button {
        font-size: 14px;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }

    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    table th, table td {
        padding: 5px;
    }

    button {
        font-size: 12px;
        padding: 10px;
    }
}

